

<section class="all products">
  <div class="frame">
    <ul class="product-list">
      <% @products.sample(8).each do |product| %>
          <div class="box">
            <li class="index-product">
              <%= link_to product_path(product), :class => "anchor-title" do %>
                <h1 class="product-title"><%= product.name %></h1>
              <% end %>
              <p class="center-picture"><img src="<%= product.picture_url %>" class="thumb-image"></p>
              <h3 class="product-subtitle">Description:</h3> <p class="product-description"><%= product.description %></p>
              <h3 class="product-price-subtitle">Price:</h3> <p class="product-price">$<%= product.formatted_price %></p>
            </li>
          </div>
      <% end %>
    </ul>
    <div class="clear-both"></div>
  </div>
</div>
