<h1>Results</h1>
<ul>
  <% @products.each do |product| %>
      <li>
        <%= link_to product_path(product) do %>
          <p>Product name: <%= product.name %> </p>
        <% end %>
        <img src="<%= product.picture_url %>" class="thumb-image">
        <p>Description: <%= product.description %></p>
        <p>Price: $<%= product.formatted_price %></p>
      </li>
  <% end %>
</ul>
